{
    "DSMController": {
        "EELimit": 5,
        "RuntimeConfig": "/home/vagrant/dsm.config"
    },
    "ExecutionEnvironments": [
        {
            "name": "default",
            "enabled": true,
            "status": "Up",
            "InitialRunLevel": 5,
            "CurrentRunLevel": 5,
            "id": 1,
            "packager": "local-tarball",
            "default": true
        },
        {
            "name": "test",
            "enabled": true,
            "status": "Up",
            "InitialRunLevel": 5,
            "CurrentRunLevel": 5,
            "id": 2,
            "packager": "local-tarball"
        },
        {
            "name": "user",
            "enabled": true,
            "status": "Up",
            "InitialRunLevel": 5,
            "CurrentRunLevel": 5,
            "id": 2,
            "packager": "local-tarball"
        }
    ],
    "Packagers": {
        "local-tarball": {
            "repo": "/home/vagrant/repo",
            "destination": "/home/vagrant/destination"
        },
        "remote-tarball": {
            "repo": "http://localhost:8080"
        }
    },
    "CommandServer": {
        "domain-socket": "/home/vagrant/command.socket"
    }
}
