{
    "DSMController": {
        "EELimit": 5,
        "RuntimeConfig": "<path_to_config>/dsm.config"
    },
    "ExecutionEnvironments": [
        {
            "name": "default",
            "id": 1,
            "packager": "local-tarball",
            "default": true
        },
        {
            "name": "test",
            "id": 2,
            "packager": "local-tarball"
        },
        {
            "name": "user",
            "id": 2,
            "packager": "local-tarball"
        }
    ],
    "Packagers": {
        "local-tarball": {
            "repo": "<path_to_repo>/repo",
            "destination": "<path_to_dest>/destination"
        },
        "remote-tarball": {
            "repo": "http://localhost:8080"
        }
    },
    "CommandServer": {
        "domain-socket": "/home/dave/Work/RDK-C/DSM/testing/command.socket"
    }
}