{
    "DSMController": {
        "EELimit": 5,
        "RuntimeConfig": "./.dsm.config"
    },
    "ExecutionEnvironments": [
        {
            "name": "default",
            "id": 1,
            "packager": "local-tarball",
            "default": true
        },
        {
            "name": "test",
            "id": 2,
            "packager": "local-tarball"
        },
        {
            "name": "user",
            "id": 2,
            "packager": "local-tarball"
        }
    ],
    "Packagers": {
        "local-tarball": {
            "repo": "./repo",
            "destination": "./destination"
        },
        "remote-tarball": {
            "repo": "http://localhost:8080"
        }
    },
    "CommandServer": {
        "domain-socket": "command.socket"
    }
}